<div *ngIf="hero" class="card mt-2">
  <div class="card-body">
    <h2 class="card-title">{{ hero.name | uppercase }} Details</h2>
    <div><span>id: </span>{{ hero.id }}</div>
    <div class="form-inline mb-2">
      <label for="heroName" class="mr-2">
        name:
      </label>
      <input
        [(ngModel)]="hero.name"
        id="heroName"
        class="form-control"
        placeholder="name"
      />
    </div>
    <button class="btn btn-outline-secondary" (click)="goBack()">go back</button>
    <button class="btn btn-primary ml-2" (click)="save()">save</button>
  </div>
</div>