<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/dashboard">Dashboard</a>
    </li>
    <li
      class="nav-item"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: false }"
    >
      <a class="nav-link" routerLink="/heroes">Heroes</a>
    </li>
  </ul>
</nav>
