<div class="container">
  <div class="row">
    <div class="col">
      <div class="jumbotron">
        <h1 class="display-4">{{ title }}</h1>
      </div>
      <app-navbar></app-navbar>
      <router-outlet></router-outlet>
      <app-messages></app-messages>
    </div>
  </div>
</div>
