<div class="mt-5" *ngIf="messageService.messages.length">
  <div class="d-flex align-baseline mb-3">
    <h2 class="d-inline">Messages</h2>
    <button
      class="btn btn-outline-danger btn-sm ml-3"
      (click)="messageService.clear()"
    >
      Clear
    </button>
  </div>
  <div
    class="alert alert-primary"
    role="alert"
    *ngFor="let message of messageService.messages"
  >
    {{ message }}
  </div>
</div>
