<h3 class="mt-5 mb-2">Top Heroes</h3>
<nav class="d-flex justify-content-between mb-5">
  <a
    *ngFor="let hero of heroes"
    class="btn btn-primary btn-lg"
    routerLink="/heroes/{{ hero.id }}"
    routerLinkActive="active"
  >
    {{ hero.name }}
  </a>
</nav>

<app-hero-search></app-hero-search>
