<h2>My Heroes</h2>
<div class="form-inline mb-2">
  <input placeholder="Hero name" class="form-control" #heroName />
  <!-- (click) passes input value to add() and then clears the input -->
  <button
    class="btn btn-primary ml-2"
    (click)="add(heroName.value); heroName.value = ''"
  >
    Add
  </button>
</div>
<div class="list-group">
  <a
    class="list-group-item list-group-item-action"
    *ngFor="let hero of heroes"
    routerLink="/heroes/{{ hero.id }}"
  >
    <div class="d-flex justify-content-start align-items-center">
      <span class="badge badge-primary badge-pill mr-2">{{ hero.id }}</span>
      {{ hero.name }}
      <button
        class="btn btn-danger btn-sm ml-auto"
        title="delete hero"
        (click)="delete(hero)"
      >
        Delete
      </button>
    </div>
  </a>
</div>
