<div id="search-component">
  <input
    #searchBox
    id="search-box"
    (input)="search(searchBox.value)"
    class="form-control"
    placeholder="Search"
  />

  <div class="list-group">
    <a
      *ngFor="let hero of (heroes$ | async)"
      routerLink="/heroes/{{ hero.id }}"
      class="list-group-item"
    >
      {{ hero.name }}
    </a>
  </div>
</div>
